.container {
  padding: 0 2rem;
  background:fixed;
  background-image: url("https://65935a34dc.clvaw-cdnwnd.com/624984cfd98f1dae0aaccc6b70735c0c/200000001-c44d7c44da/beneficios-verduras-ecologicas.jpg?ph=65935a34dc");
  /* background-image: url("https://d1di2lzuh97fh2.cloudfront.net/files/2c/2cf/2cfa9l.jpg?ph=65935a34dc"); */
}

.homeContent {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description, .homeTitle {
  color: white;
  text-shadow: 2px 1.5px #111;
}

.footerBrand {
  color: rgb(73, 111, 226);
  text-shadow: 2px 1.5px #eaeaea;
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  height: auto;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
